includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app
        - config
        - database
        - modules
        - routes
    excludePaths:
        - */vendor/*
        - */storage/*
        - */bootstrap/cache/*
    ignoreErrors:
        - '#PHPDoc tag @var#'
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
